In [235]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [236]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv")

In [237]:
df.head(5)

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [238]:
df.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [239]:
df.describe

<bound method NDFrame.describe of                       date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]>

In [240]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [241]:
df.drop(columns = ["date", "lights"], inplace = True)

In [242]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
norm_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
MinMaxScaler()

MinMaxScaler(copy=True, feature_range=(0, 1))

In [243]:
target_var = norm_df["Appliances"]

In [244]:
norm_df.head()

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

In [245]:
target_var.head(5)

0    0.046729
1    0.046729
2    0.037383
3    0.037383
4    0.046729
Name: Appliances, dtype: float64

In [246]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, target_var, test_size = 0.3, random_state = 42)

In [247]:
from sklearn.linear_model import LinearRegression

In [248]:
#lr2 = LinearRegression()
#X = x_train[["T2"]]
#Y = x_train[["T6"]]
###lr2.fit(X, Y)
#LinearRegression()
#Y_pred = lr2.predict(X)

In [249]:
X = df.loc[:, "T2"].values.reshape(-1, 1)  # values converts it into a numpy array
Y = df.loc[:, "T6"].values.reshape(-1, 1)  # -1 means that calculate the dimension of rows, but have 1 column
linear_regressor = LinearRegression()  # create object for the class
linear_regressor.fit(X, Y)  # perform linear regression
Y_pred = linear_regressor.predict(X)


from sklearn.metrics import r2_score
r2_score = r2_score(Y, Y_pred)
round(r2_score, 2)

0.64

In [250]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error (Y, Y_pred)
round(mae,2)

2.84

In [251]:
rss = np.sum(np.square(Y - Y_pred))
round(rss,2)

262122.67

In [252]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Y, Y_pred))
round(rmse, 3)

3.644

In [253]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [254]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Y, Y_pred))
round(rmse, 3)

3.644

In [255]:
from sklearn.linear_model import Lasso
Lasso_reg = Lasso(alpha = 0.001)
Lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [256]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Y, Y_pred))
round(rmse, 3)

3.644

In [257]:
def get_wt_df(model, feature, col_name):
  weights = pd.Series(lr2.coef_, feature.columns).sort_values()
  weight_df = pd.DataFrame(weights).reset_index()
  weight_df.columns = ["Features", col_name]
  weight_df = [col_name].round(3)
  return weight_df